@use "../_setting" as s;

/* .--typeScrollFadeIn 汎用スクロールアクション */

.--typeScrollFadeIn {
	@include s.media(m){
	  opacity: 0;
	  transition: 1s;
	  transition-duration:1.5s;
	}
}

.--typeScrollFadeIn.active {
	@include s.media(m){
  		opacity: 1;
		animation-name:fadeUpAnime;
		animation-duration:1s;
		animation-fill-mode:forwards;
	}
}

/* #wrapper スクロールアクション */

#wrapper.--typeScrollAction{
	@include s.media(m){
  		opacity: 0;
		transition: all 1s ease;
		transition-duration:1.5s;
	}
}

#wrapper.--typeScrollAction.active{
	@include s.media(m){
		opacity: 1;
	}
}

/* .--typeScrollAction.--typeFromLeft 右から現れるスクロールアクション*/

.--typeScrollAction.--typeFromLeft{
	@include s.media(m){
		transform: translateX(-100px);
  		opacity: 0;
		transition: all 1s ease;
		transition-duration:1.5s;
	}
}

.--typeScrollAction.--typeFromLeft.active{
	@include s.media(m){
		transform: translateX(0);
		opacity: 1;
	}
}

/* .--typeScrollAction.--typeFromRight 左から現れるスクロールアクション */

.--typeScrollAction.--typeFromRight{
	@include s.media(m){
		transform: translateX(100px);
  		opacity: 0;
		transition: all 1s ease;
		transition-duration:1.5s;
	}
}

.--typeScrollAction.--typeFromRight.active{
	@include s.media(m){
		transform: translateX(0);
		opacity: 1;
	}
}



/* .--typeScrollFadeIn 効果を遅らせる */

.--typeScrollFadeIn{
	.homeAboutBox__pointBox >div{
		@include s.media(m){
			transform: translateY(100px);
			opacity: 0;
			transition: all 1s ease;
			transition-duration:1.5s;
		}
	}
	&.active .homeAboutBox__pointBox >div{
		@include s.media(m){
			transform: translateY(0);
			opacity: 1;
		}
		&:nth-child(1){@include s.media(m){transition-delay:  0s;}}
		&:nth-child(2){@include s.media(m){transition-delay:0.3s;}}
		&:nth-child(3){@include s.media(m){transition-delay:0.6s;}}
	}
	.swiper-slide{
		@include s.media(m){
			transform: translateY(100px);
			opacity: 0;
			transition: all 1s ease;
			transition-duration:1.5s;
		}
	}
	&.active .swiper-slide{
		@include s.media(m){
			transform: translateY(0);
			opacity: 1;
		}
		&:nth-child(1){@include s.media(m){transition-delay:  0s;}}
		&:nth-child(2){@include s.media(m){transition-delay:0.3s;}}
		&:nth-child(3){@include s.media(m){transition-delay:0.6s;}}
	}
}


/* フェードモーション用アニメーション */

@keyframes fadeAnime{
  from { opacity: 0; }
  to { opacity: 1;; }
}

@keyframes fadeUpAnime{
  from { transform: translateY(100px); }
  to { transform: translateY(0); }
}

@keyframes fadeDownAnime{
  from { transform: translateY(-100px); }
  to { transform: translateY(0); }
}



@-webkit-keyframes blurAnime {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
      -webkit-filter: blur(300px);
              filter: blur(300px);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
}

@keyframes blurAnime {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      opacity: 0;
      -webkit-filter: blur(300px);
              filter: blur(300px);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
}